---
const { link } = Astro.props
---
  <a href="https://alquivago.vercel.app" rel="noreferrer" target="_blank" class="hidden md:flex row-span-2 col-span-3 rounded-lg shadow-md row-start-5 bg-white blur-[2px] hover:blur-none shadow-vgreen-500 justify-center gap-4 items-center flex-col box-border hover:scale-105 transition">
    <h2 class="text-8xl font-bold text-black/70">{link}</h2>
    <div class="flex text-5xl font-bold text-black/80 dark:text-black/80">
      <p class="text-[#1591D2]">Alqui</p>
      <p class="text-[#FB9E16]">va</p>
      <p class="text-[#E24240]">go</p>
    </div>
  
  </a>
