<article class="md:col-start-3 col-start-1 bg-vgreen-600 md:row-span-2 md:row-start-3 row-start-9 rounded-lg shadow-lg shadow-vgreen-500 text-center pt-5 flex gap-3 md:gap-16 flex-col items-center justify-start">
  <h3 class="font-semibold text-vgreen-200 text-xl">Currently Learning</h3>
  <div class="flex justify-between items-center gap-5">
    <img src="aws.svg" alt=betweening" class="w-24 h-24 hover:scale-125 transition">
    <img src="typescript.svg" alt=betweening" class="w-24 h-24 hover:scale-125 transition">
    <img src="astro.svg" alt="Learning" class="w-24 h-24 hover:scale-125 transition">
</article>
