<aside class="hidden group md:flex justify-end items-center group md:col-start-4 md:col-span- md:row-start-3 row-span-2 rounded-lg shadow-md bg-vgreen-700 hover:bg-vgreen-100 transition duration-400 bg-center bg-cover bg-blend-multiply hover:scale-105">
  <div class="flex flex-col justify-center items-center gap-2">
    <label for="resume" class="text-center font-semibold text-lg text-vgreen-100 mr-3 group-hover:text-vgreen-600 transition duration-400">Check my resume</label>
    <a href="resume.pdf" download="GabrielDelgado-resume.pdf"><img src="download.svg" alt="Download my Resume!" class="opacity-0 w-10 h-10 group-hover:opacity-100 hover:scale-125 transition text-opacity-0"></a>
  </div>
</aside>

<style>
  aside {
    background-image: url('../assets/me.webp');
  }
</style>