<aside class="hidden group md:flex justify-end items-center md:col-start-4 md:row-start-3 row-span-2 rounded-lg shadow-md bg-vgreen-700 hover:bg-vgreen-100 transition duration-400 bg-[url('me.webp')] bg-center bg-cover bg-blend-multiply hover:scale-105">
  <label for="resume" class="text-center font-semibold text-2xl text-vgreen-100 mr-3 group-hover:text-vgreen-600 transition duration-400">Check my resume</label>
</aside>
