---
import sakugaPic from '../assets/bahi.webp'
const { link, SakugaCTA } = Astro.props
---
<a href={link} class=`hidden bg-[#64334a] bg-blend-multiply group md:flex justify-center items-center md:row-span-2 md:col-span-3 rounded-lg shadow-md bg-cover group hover:scale-105 transition hover:bg-white duration-500`>
  <p class="font-bold text-white text-4xl group-hover:text-opacity-0 transition">{SakugaCTA}</p>
</a>  

<style>
  a {
    background-image: url('../assets/bahi.webp');
  }
</style>